In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data= pd.read_csv("F:/3. Python - Project 1 Value Inc. Sales Analysis-20220705T101734Z-001/transaction.csv")

In [3]:
data.head()

                                                                        UserId;TransactionId;Year;Month;Day;Time;ItemCode;ItemDescription;NumberOfItemsPurchased;CostPerItem;SellingPricePerItem;Country;ClientKeywords
278166;6355745;2019;Feb;2;12:50:00;465549;FAMIL...  'Solo Entrepreneur'                                 '2-5 Year Client']
337701;6283376;2018;Dec;26;09:06:00;482370;LOND...  'Corporation'                                       '2-5 Year Client']
267099;6385599;2019;Feb;15;09:45:00;490728;SET ...  'Corporation'                                       '2-5 Year Client']
380478;6044973;2018;Jun;22;07:14:00;459186;UNIO...  'Small Business'                                         'New Client']
-1;6143225;2018;Sep;10;11:58:00;1733592;WASHROO...  'Solo Entrepreneur'                                 '2-5 Year Client']

In [5]:
data.columns

Index(['UserId;TransactionId;Year;Month;Day;Time;ItemCode;ItemDescription;NumberOfItemsPurchased;CostPerItem;SellingPricePerItem;Country;ClientKeywords'], dtype='object')

In [6]:
data= pd.read_csv("F:/3. Python - Project 1 Value Inc. Sales Analysis-20220705T101734Z-001/transaction.csv", sep=';')

In [7]:
#Summary of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 103.9+ MB

In [8]:
CostPerItem=data['CostPerItem']
NumberOfItemsPurchased = data['NumberOfItemsPurchased']
CostPerTransaction= CostPerItem*NumberOfItemsPurchased

In [10]:
data['CostPerTransaction'] = CostPerTransaction

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 14 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  CostPerTransaction      1047588 non-null  float64
dtypes: float64(3), int64(6), object(5)
memory usage: 111.9+ MB

In [14]:
#Sales Per Transaction
data['SalesPerTransaction']= data['SellingPricePerItem'] *  data['NumberOfItemsPurchased']

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 15 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  CostPerTransaction      1047588 non-null  float64
 14  SalesPerTransaction     1047588 non-null  float64
dtypes: float64(4), int64(6), object(5)
memory usage: 119.9+ MB

In [16]:
#Profit Calculation = Sales-Cost
data['ProfitPerTransaction'] = data['SalesPerTransaction']-data['CostPerTransaction']

In [17]:
#Markup=(Sales-Cost)/Cost
data['Markup']= data['ProfitPerTransaction']/data['CostPerTransaction']

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  CostPerTransaction      1047588 non-null  float64
 14  SalesPerTransaction     1047588 non-null  float64
 15  ProfitPerTransaction    1047588 non-null  float64
 16  Markup                  1042743 non-null  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 135.9+ MB

In [25]:
#Rounding Markup
data['Markup'] = round(data['Markup'], 2)

In [20]:
#combining data fields
day=data['Day'].astype(str)
year=data['Year'].astype(str)
my_date = day+'-'+data['Month']+'-'+year
data['date'] = my_date

In [21]:
data.iloc[0:3]

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,CostPerTransaction,SalesPerTransaction,ProfitPerTransaction,Markup,date
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",70.38,126.66,56.28,0.799659,2-Feb-2019
1,337701,6283376,2018,Dec,26,09:06:00,482370,LONDON BUS COFFEE MUG,3,3.52,3.87,United Kingdom,"['Middle Age', 'Corporation', '2-5 Year Client']",10.56,11.61,1.05,0.099432,26-Dec-2018
2,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",64.80,116.64,51.84,0.800000,15-Feb-2019

In [23]:
data.iloc[:, 17]

0           2-Feb-2019
1          26-Dec-2018
2          15-Feb-2019
3          22-Jun-2018
4          10-Sep-2018
              ...
1047583    16-Feb-2019
1047584    15-Jan-2019
1047585     8-Sep-2018
1047586    20-Jul-2018
1047587    10-Oct-2018
Name: date, Length: 1047588, dtype: object

In [26]:
data.iloc[:,16]

0          0.8
1          0.1
2          0.8
3          0.1
4          0.7
          ...
1047583    0.6
1047584    0.1
1047585    0.1
1047586    0.8
1047587    0.8
Name: Markup, Length: 1047588, dtype: float64

In [27]:
#using split to split the client_keywords field
split_col = data['ClientKeywords'].str.split(',' , expand = True )

In [28]:
#creating new columns for the split columns in Client Keywords
data['ClientAge']=split_col[0]
data['ClientType']=split_col[1]
data['LengthofContract']=split_col[2]

In [32]:
#using the replace function
data['ClientAge']=data['ClientAge'].str.replace('[','')
data['LengthofContract']=data['LengthofContract'].str.replace(']', '')

C:\Users\HP\AppData\Local\Temp\ipykernel_5544\3176844745.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['ClientAge']=data['ClientAge'].str.replace('[','')
C:\Users\HP\AppData\Local\Temp\ipykernel_5544\3176844745.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['LengthofContract']=data['LengthofContract'].str.replace(']', '')

In [33]:
#using the lower function to change item to lowercase
data['ItemDescription']=data['ItemDescription'].str.lower()

In [41]:
#bringing in a new dataset
seasons=pd.read_csv("F:/3. Python - Project 1 Value Inc. Sales Analysis-20220705T101734Z-001/3. Python - Project 1 Value Inc. Sales Analysis/5.4 value_inc_seasons.csv", sep=';')
seasons.head()

  Month  Seaon
0   Jan   High
1   Feb    Mid
2   Mar    Low
3   Apr    Low
4   May    Low

In [42]:
#merging files
data=pd.merge(data, seasons, on = 'Month')

In [52]:
#dropping columns
data = data.drop('ClientKeywords', axis = 1)
data = data.drop('Day', axis = 1)
data = data.drop(['Year','Month'], axis = 1)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047588 entries, 0 to 1047587
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Time                    1047588 non-null  object
 3   ItemCode                1047588 non-null  int64
 4   ItemDescription         1044797 non-null  object
 5   NumberOfItemsPurchased  1047588 non-null  int64
 6   CostPerItem             1047588 non-null  float64
 7   SellingPricePerItem     1047588 non-null  float64
 8   Country                 1047588 non-null  object
 9   CostPerTransaction      1047588 non-null  float64
 10  SalesPerTransaction     1047588 non-null  float64
 11  ProfitPerTransaction    1047588 non-null  float64
 12  Markup                  1042743 non-null  float64
 13  date                    1047588 non-null  object
 14  ClientAge               1047588 non-null  object
 15  ClientType              1047588 non-null  object
 16  LengthofContract        1047588 non-null  object
 17   Seaon                  1047588 non-null  object
dtypes: float64(6), int64(4), object(8)
memory usage: 151.9+ MB

In [53]:
#Exporting data into csv
data.to_csv('ValueInc_Cleaned.csv', index = False)